[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target
[Service]
ExecStartPre=-/sbin/modprobe br_netfilter
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/local/bin/k3s server \
  --docker \
  --https-listen-port=6443 \
  --bind-address=0.0.0.0 \
  --advertise-address=10.2.0.1 \
  --node-ip=10.2.0.1 \
  --tls-san=10.1.0.1 \
  --tls-san=10.3.0.37 \
  --write-kubeconfig-mode=644
KillMode=process
Delegate=yes
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
