@prefix : <http://bigasterisk.com/openid_proxy#> .
@prefix site: <http://bigasterisk.com/openidProxySite/> .
@prefix acl: <http://www.w3.org/ns/auth/acl#> .

site:ympd{{ansible_hostname.capitalize()}}
  a :Websocket;
  :host "bigasterisk.com";
  :requestPrefix "/music/{{ansible_hostname}}/";
  :proxyUrlPrefix "http://{{ansible_hostname}}.bigasterisk.com:9010/" .

site:ympdFonts{{ansible_hostname.capitalize()}}
  a :Websocket;
  :host "bigasterisk.com";
  :requestPrefix "/music/{{ansible_hostname}}/fonts/";
  :proxyUrlPrefix "http://{{ansible_hostname}}.bigasterisk.com:9010/fonts/" .

:admin1 acl:accessTo site:ympd{{ansible_hostname.capitalize()}} .
:admin2 acl:accessTo site:ympd{{ansible_hostname.capitalize()}} .


site:ympdFonts{{ansible_hostname.capitalize()}} a :NonOpenidProxiedSite .
