@prefix : <http://bigasterisk.com/openid_proxy#> .
@prefix site: <http://bigasterisk.com/openidProxySite/> .
@prefix acl: <http://www.w3.org/ns/auth/acl#> .

site:supdebug{{ansible_hostname.capitalize()}}
  :host "bigasterisk.com";
  :requestPrefix "/supdebug/{{ansible_hostname}}/";
  :proxyUrlPrefix "http://{{ansible_hostname}}:10004/" .

:admin1 acl:accessTo site:supdebug{{ansible_hostname.capitalize()}} .
:admin2 acl:accessTo site:supdebug{{ansible_hostname.capitalize()}} .

      
