client

{% if inventory_hostname != 'drewnote' %}
ca {{vpn_config_dir}}/ca.crt
cert {{vpn_config_dir}}/{{ vpn_net_name }}.crt
key {{vpn_config_dir}}/{{ vpn_net_name }}.key
tls-crypt {{vpn_config_dir}}/ta.key
{% else %}

<ca>
{% include 'server_files/%s/pki/ca.crt' % vpn_net %}

</ca>
<key>
{% include 'server_files/%s/pki/private/%s.key' % (vpn_net, vpn_net_name) %}

</key>
<cert>
{% include 'server_files/%s/pki/issued/%s.crt' % (vpn_net, vpn_net_name) %}

</cert>
<tls-auth>
{% include 'server_files/%s/ta.key' % vpn_net %}

</tls-auth>
{% endif %}

dev tun
proto udp4
resolv-retry infinite
nobind

remote {{vpn_net.replace('_','-')}}.bigasterisk.com

float

cipher AES-256-CBC

{% if vpn_net != 'vpn_home' %}
comp-lzo
{% endif %}

{% if vpn_net == 'vpn_home' %}
tun-mtu 9000
{% endif %}

persist-tun
persist-key

# Verbosity level.
# 0 -- quiet except for fatal errors.
# 1 -- mostly quiet, but display non-fatal network errors.
# 3 -- medium output, good for normal operation.
# 9 -- verbose, good for troubleshooting
verb 1

# Inactivity timeout
# suggested by http://www.jethrocarr.com/2012/06/17/keeping-android-wifi-awake/
keepalive 300 600 
#ping-timer-rem

# TLS handshake timeout
hand-window 10

{% if inventory_hostname == 'bang' %}
management 127.0.0.1 9018
{% endif %}

{% if inventory_hostname == 'drewnote' %}
dev-node /dev/tun
{% endif %}

user nobody
group nogroup
remote-cert-tls server
