@prefix : <http://bigasterisk.com/openid_proxy#> .
@prefix site: <http://bigasterisk.com/openidProxySite/> .
@prefix acl: <http://www.w3.org/ns/auth/acl#> .

site:icecast{{ansible_hostname.capitalize()}}
  :host "bigasterisk.com";
  :requestPrefix "/piAudio/{{ansible_hostname}}/";
  :proxyUrlPrefix "http://[{{ansible_tun0.ipv6[0].address}}]:8000/" .

:admin1 acl:accessTo site:icecast{{ansible_hostname.capitalize()}} .
:admin2 acl:accessTo site:icecast{{ansible_hostname.capitalize()}} .

      
