[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=pir_screen
Comment=
Exec=/home/pi/julia/julia pir_screen.jl 4 300
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

