&{{item}}:{{ext}}:ns1.quickwitretort.com:{{externalTtl}}
&{{item}}:{{ext}}:ns2.quickwitretort.com:{{externalTtl}}
={{item}}:{{ext}}:{{externalTtl}}
Z{{item}}:ns1.quickwitretort.com:hostmaster.bigasterisk.com
@{{item}}:{{ext}}:a::{{externalTtl}}
+*.{{item}}:{{ext}}:{{externalTtl}}
