@prefix : <http://bigasterisk.com/openid_proxy#> .
@prefix site: <http://bigasterisk.com/openidProxySite/> .
@prefix acl: <http://www.w3.org/ns/auth/acl#> .

site:{{name}}
  :host "{{domain}}";
  :requestPrefix "{{path}}";
  :proxyUrlPrefix "{{upstreamTarget}}" .

{% if openid == 'anonymous' %}
  :publicAccess acl:accessTo site:{{site_name}} .
{% elif openid == 'no' %}
  site:{{site_name}} a :NonOpenidProxiedSite .
{% else %}
:admin1 acl:accessTo site:{{site_name}} .
:admin2 acl:accessTo site:{{site_name}} .
{% endif %}
      
{% if (useWebsocketPath | default('no')) == 'yes' %}
site:{{site_name}} a :Websocket .
{% endif %}

{% for origin in (accessControlAllowOrigin | default([])) %}
site:{{site_name}} :accessControlAllowOrigin "{{origin}}" .
{% endfor %}

