{
    "checks":{
        "{{name}}": {
            "aggregate": true, 
            "mail": false, 
            "interval": 900, 
            "command": "/usr/bin/lwp-request -t {{root_page_timeout_secs}} -H \"x-foaf-agent: http://bigasterisk.com/foaf/sensu\" {{upstreamTarget}}", 
            "subscribers": ["host-bang"]
        }
    }
}
